<%- include('partials/header') -%>

  <!-- Remove id, width issue related to an extra outside div possibly, check and remove but don't lose row-reverse on first and last container-->

  <div id="bg-image-index" class="container px-1 py-4 card-container main">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/image3.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Immersive <span class="accent-1">Experience</span></h1>
        <p class="lead">Welcome to My Virtual Walks. We've curated for you the highest quality collection of relaxing and immersive virtual walks in Country created by the most accomplished YouTube guides and influencers. Here you are invited to relax, unwind, and experience the splendor of some of the World's most mesmerizing 👀</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none btn-lg cap-btn">
            Explore Now
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="bg-image-index" class="container px-1 py-4 card-container">
    <div class="row flex-lg align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/image2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Your Virtual 
          <span class="accent-1">Collection</span></h1>
        <p class="lead">We are goint to create a virtual museum which has virtual collection of historical artifacts, allowing people from all over the world to explore and learn about these treasures from the comfort of their own homes. Where You can create a profile to like and save your favorite Treasures and revisit them again and again. You can also customize your experience with familiar and favorite Topics by uploading your own Posts, which others can then also enjoy.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Create a Profile
          </a>
        </div>
      </div>     
    </div>
  </div>

  <div id="bg-image-index" class="container px-1 py-4 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/image.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Upcoming  
          <span class="accent-1">Features</span></h1>
        <p class="lead">Coming soon, you'll be able to find Having a virtual buddy to assist users can definitely enhance their experience and make the process smoother, and will be adding new Features regularly.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/login" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Log in
          </a>
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Sign up
          </a>
        </div>
      </div>     
    </div>
  </div>

<%- include('partials/footer') -%>
